<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.mikker.leaderkey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>leaderkey</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://mikker.github.io/LeaderKey.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>4ZfPYKvzE7b/uYW4B8f2v++7Bry/OmvYHCzl3g936KE=</string>
</dict>
</plist>
